extends ../base/layout

block variables
  - const title = "DogCare"
  - const hasHeader = true
  - const hasFooter = true


block main
  main
    include ../blocks/main
    include ../blocks/about
    include ../blocks/contact
    include ../blocks/services


