spaceBetween = @block {
    display: flex
    justify-content: space-between
}  

flexColumn = @block {
    display: flex
    flex-direction: column
}
    
flexCenter = @block {
    display: flex
    justify-content: center
}



