.about
    margin 0 auto 120px
    z-index 7
    position relative

    @media (max-width: 600px)
        margin 0 auto 90px

     
.box-about
    {flexColumn}
    padding 80px 80px 0
    margin 0 0 200px 0
    min-height 700px
    background-color color-main
    border-radius 40px

    @media (max-width: 790px)
        min-height 500px

    @media (max-width: 600px)
        padding 50px 50px 0

    @media (max-width: 425px)
        padding 50px 30px 0
        margin 0 0 180px 0
        min-height 400px


    &__text
        margin 40px 0 0 0
        line-height 24px
        color #F5F5F5
        
    &__img
        margin 60px 0 -120px 0

        @media (max-width: 425px)
            margin 30px 0 -90px 0


        img
            border-radius 40px
            max-width 100%
          
          
.content-about
      
    &__inner
        {spaceBetween}
        margin 60px 0 0 0

        @media (max-width: 1024px)
            flex-wrap wrap
            justify-content center

        @media (max-width: 717px)
            margin 20px 0 0 0
        
    &__item
        display flex
        margin 0 25px 0 0
        max-width 324px
        word-break break-all

        @media (max-width: 717px)
            margin 40px 0 0 0
        
        &:last-child
          margin margin-child
          
          @media (max-width: 1024px)
              margin 40px 0 0 0
 
       
    &__img
        margin 0 20px 0 0
               
   
h3
    margin 0 0 20px 0
    color color-secondary
    font-size 19px
    line-height 26px
    
        
