.connect
   {flexCenter}
   height 980px  
   background url('../img/connect-bg.jpg') no-repeat
   background-size 100%
        
   &__info
      max-width 324px
      text-align center

      p
         margin 0 0 45px 0
         font-size 30px
         line-height 36px
         font-weight weight-bold

         &:last-child
          margin 40px 0 0 0
          font-size 19px
          line-height 26px
         
      span
         font-size 96px
         font-weight weight-bold          
          
    
   &__content
      {flexCenter}
      align-items center
          
    
.form-connect
    max-width 585px 
    margin 0 111px 0 0
    padding 76px 57px
    text-align center
    background-color color-main
    border-radius 40px
     
    h4
       margin 0 0 40px 0
       font-size 36px
       line-height 42px
       
    input, textarea
       background-color color-main
       color #fffff
       border 1px solid #fff
       opacity 0.8
       padding 15px 0 15px 22px
       border-radius 10px
       &::placeholder
         color #fff

    input
       margin 0 0 22px 0
       
       
    &__box
       display flex
       
    &__item
   
       margin 0 23px 0 0
       &:last-child
         margin margin-child
           
      
     textarea
       resize none
       width 470px
       height 180px
       margin 0 0 30px 0