.contact
     {spaceBetween}
     margin 0 0 100px 0
     background-color #29C3BE
     
     &__img
       display flex
       padding 50px 0 0 0
       
     &__content
       {flexColumn}
       justify-content center
       align-items flex-start
       h2
         max-width 411px
         margin 0 0 30px 0
       
      &__box
        margin 140px 0 0 0
       
   h2
     font-weight weight-bold
     font-size 36px
     line-height 42px