.footer
    &__panel
        {spaceBetween}
        margin -75px auto 0 
        padding 43px 70px
        background-color color-main
        border-radius 20px

        p
            max-width 510px
            font-weight weight-bold
            font-size 24px
            line-height 30px

.content-footer
    {spaceBetween}
    margin 80px auto 95px 
    color #4B4B4B
    font-size 14px
    line-height 22px

    &__inner
        img
            margin 0 0 23px 0
            
        p
            max-width 235px
            margin 0 0 33px 0
            

    &__icons
        display flex
        align-items center

        img 
            margin 0 18px 0 0
            // &:last-child
            //     margin child


    &__navigate
        font-weight weight-bold

        p
            margin 0 0 28px 0
            text-transform uppercase

    &__menu
        display flex


    &__items
        margin 0 130px 0 0
        &:last-child
            margin margin-child

    &__link
        margin 0 0 11px 0
        &:last-child
            margin margin-child
            

    &__title
        margin 0 0 28px 0
        font-weight weight-bold 
        text-transform uppercase

    &__box
        display flex
        align-items flex-start
        margin 0 0 16px 0
        &:last-child
            margin margin-child

        p
            max-width 200px

        img 
            margin 0 18px 0 0

        


.sign-footer
    background-color color-main
    font-size 12px
    line-height 18px
    font-weight 400

    &__inner
        {spaceBetween}
        padding 20px 0