.galery
    margin 0 0 220px 0

    &__inner
        margin -100px auto 0 
        background-color color-main
        border-radius 40px
        min-height 700px
        padding 100px 87px 0 87px

    &__tabs
        margin 55px 0 0 0

    &__titles
        margin 0 0 50px 0


    &__titles ul
        {spaceBetween}
        border-bottom 1px solid rgba(255, 255, 255, 0.15)

    &__item
        padding 0 20px 15px
        cursor pointer
        

        &.active
            border-bottom 4px solid #ffffff
            font-weight 700     

    &__img
        display none
        

        &.active
            display block
             

        img 
            margin 0 0 -120px 0
            border-radius 40px

   



