.galery
    margin 0 0 220px 0
    padding 0 10px

    @media (max-width: 768px)
        margin 0 0 150px 0

    @media (max-width: 600px)
        margin 40px 0 120px

    @media (max-width: 425px)
        margin 40px 0 160px

    @media (max-width: 320px)
        margin 40px 0 120px


    &__inner
        margin -100px auto 0 
        background-color color-main
        border-radius 40px
        min-height 700px
        padding 100px 87px 0

        @media (max-width: 600px)
            padding 70px 50px 0
            min-height 600px

        @media (max-width: 425px)
            padding 70px 10px 0


    &__tabs
        margin 55px 0 0 0

        @media (max-width: 825px)
            margin 35px 0 0 0

    &__titles
        margin 0 0 50px 0


    &__titles ul
        {spaceBetween}
        border-bottom 1px solid rgba(255, 255, 255, 0.15)

        @media (max-width: 825px)
            justify-content center
            flex-wrap wrap

        @media (max-width: 425px)
            flex-direction column
            align-items center

    &__item
        padding 10px 20px 15px
        cursor pointer  

        @media (max-width: 825px)
            padding 20px 
        

        &.active
            border-bottom 4px solid #ffffff
            font-family font-bold  

        &:focus
            outline-color #fff
            outline-style dashed   

    &__img
        display none
        

        &.active
            display block
             

        img 
            margin 0 0 -120px 0
            max-width 100%
            border-radius 40px

