@font-face
   font-family Roboto
   font-style normal
   src url(../fonts/Roboto.woff) format('woff')
   src url(../fonts/Roboto.woff2) format('woff2')

@font-face
   font-family Roboto Bold
   font-style bold
   src url(../fonts/Roboto-Bold.woff) format('woff')
   src url(../fonts/Roboto-Bold.woff2) format('woff2')


*
  padding 0
  margin 0
  border 0
  box-sizing border-box

body
   color #FFFFFF
   background-color #F5F5F5
   font-family 'Roboto', sans-serif
   letter-spacing 0.15px
   

.open-menu
   overflow hidden
   
a
   text-decoration none
   color #000000

   &:focus
       outline-color color-main
       outline-style dashed 

   @media (min-width: 768px) 
      &:hover
         text-decoration underline   

   
ul, li
   list-style none

._container
   max-width 1020px
   margin 0 auto
   padding 0 10px


.main-btn
    padding 15px 35px
    font-size 12px
    font-family font-bold
    color #FFFFFF
    background-color color-secondary
    border 2px solid color-secondary
    border-radius 10px
    text-transform uppercase
    transition 0.3s

    &:focus
      outline-color color-main
      background-color #ffffff
      color color-secondary
      border 2px solid color-secondary
    

    @media (min-width: 768px) 
      &:hover
        background-color #ffffff
        color color-secondary
        border 2px solid color-secondary
        transition 0.3s
        cursor pointer


.title
   {flexColumn}
   max-width 583px
   font-family font-bold
   line-height 42px

   h2
      font-size 36px

      @media (max-width: 600px)
         font-size 26px
         line-height 32px

      @media (max-width: 425px)
         font-size 20px
         line-height 25px

      
   span
      margin 0 0 30px 0
      max-width 240px
      font-size 12px
      font-family font-bold
      letter-spacing 2.5px
      line-height 24px
      text-transform uppercase

      &:focus
         outline-color #fff
         outline-style dashed  
      
._black
   h2
      color #000000
   span
      color color-main

      &:focus
         outline-color color-main
         outline-style dashed  


.text
   color #4B4B4B
   line-height 24px

h3
   margin 0 0 20px 0
   color color-secondary
   font-size 19px
   line-height 26px

   @media (max-width: 425px)
      font-size 18px