@font-face
   font-family Roboto
   font-style normal
   src url(../fonts/Roboto.woff) format('woff')
   src url(../fonts/Roboto.woff2) format('woff2')

@font-face
   font-family Roboto Bold
   font-style bold
   src url(../fonts/Roboto-Bold.woff) format('woff')
   src url(../fonts/Roboto-Bold.woff2) format('woff2')


*
  padding 0
  margin 0
  border 0
  box-sizing border-box

body
   color #FFFFFF
   background-color #F5F5F5
   font-family 'Roboto', sans-serif
   letter-spacing 0.15px

.open-menu
   overflow hidden
   
a
   text-decoration none
   color #000000

   @media (min-width: 768px) 
      &:hover
         text-decoration underline   

   
ul, li
   list-style none

._container
   max-width 1020px
   margin 0 auto
   padding 0 10px


.main-btn
    padding 15px 35px
    font-size 12px
    font-family font-bold
    color #FFFFFF
    background-color color-secondary
    border 2px solid color-secondary
    border-radius 10px
    text-transform uppercase
    transition 0.3s
    

    @media (min-width: 768px) 
      &:hover
        background-color #ffffff
        color color-secondary
        border 2px solid color-secondary
        transition 0.3s
        cursor pointer


.title
   {flexColumn}
   max-width 583px
   font-family font-bold
   font-size 36px
   line-height 42px

   @media (max-width: 600px)
      font-size 26px
      line-height 32px

      
   span
      margin 0 0 30px 0
      font-size 12px
      font-family font-bold
      letter-spacing 2.5px
      line-height 24px
      text-transform uppercase
      
._black
   p
      color #000000
   span
      color color-main


.text
   color #4B4B4B
   line-height 24px