
header
    z-index 5
    position relative
    font-size 12px
    margin 0 0 120px 0
    
.header__info
    {spaceBetween}
    padding 25px 0 0 0
    margin 0 0 25px 0

    @media (max-width: 600px)
        justify-content center
        padding 7px 0 0 0
    
.header__contacts,
.header__hours,
.header__phone
    display flex

.header__contacts
    @media (max-width: 600px)
        display none

    
.header__hours,
.header__phone
    margin 0 30px 0 0
    align-items flex-start

    img 
        margin 0 10px 0 0
        padding 5px 0 0 0
      
    
.header__inner
    {flexColumn}
    line-height 22px


._none
    @media (max-width: 790px)
        display none

.header__burger
    display none

    @media (max-width: 600px)
        display block
        width 30px
        height 20px
        position absolute
        top 20px
        left 20px
        z-index 18

        &:before,
        &:after
            content ''
            position absolute
            width 30px
            height 2px
            background-color #fff

        &:after
            bottom 0

        span
            width 30px
            height 2px
            position absolute
            background-color #fff
            top 9px

        &.active:before
            transform rotate(45deg)
            top 9px

        &.active:after
            transform rotate(-45deg)
            bottom 9px

        &.active span
            display none


.panel-header
    margin 0 0 110px 0

    @media (max-width: 600px)
            position absolute
            top 0
            left 0
            width 100%
            height 100vh
            {flexCenter}
            align-items center
            background-color color-main
            clip-path circle(10px at 10% -50%)
            transition all 1s ease-out

            &.active
                clip-path circle(1000px at 10% -50%)



    &__inner
        {spaceBetween}
        align-items center
        padding 10px 40px
        color #000000
        background-color #FFFFFF
        border-radius 10px

        @media (max-width: 600px)
            padding 40px 60px
            
            
        
        
    &__items
        display flex

        @media (max-width: 600px)
            flex-direction column
        
    &__link
        line-height 22px
        font-family font-bold
        margin 0 37px 0 0

        @media (max-width: 600px)
            margin 0 0 20px 0
            font-size 16px

        &:last-child
            margin margin-child
           
    &__box
        @media (max-width: 600px)
            display none

        img 
            margin 0 25px 0 0
            &:last-child
                margin margin-child
     
details > summary
    list-style none
    cursor pointer

    @media (min-width: 768px)
        &:hover
            text-decoration underline
            

summary::-webkit-details-marker
    display none
      
.summary-items
    {flexColumn}
    position absolute
    top 30px
    padding 0 15px
    background-color #ffffff
    border-radius 0 0 10px 10px
    

    a
        margin 0 0 5px 0


details
    position relative

details summary::after
    content url('../img/arrow.svg')
    position absolute
    right -18px
    transform rotate(-90deg)

details[open] summary::after
    top 3px
    transform rotate(0deg)