.impact
    min-height 608px
    background-color #29C3BE
         
    &__content
        padding 100px 0 0 0
         
    &__title
        display flex
        margin 0 0 80px 0
           
        img
            margin -200px 0 0 0
           
    &__item
        display flex
        span
            font-size 36px
            line-height 42px
            font-weight weight-bold
             
        p
            font-size 16px
            line-height 24px
            font-weight weight-bold
            color color-main
             
    &__inner
        display flex
         
           
    &__item
        margin 0 80px 0 0
        &:last-child
            margin margin-child
             
    &__box
        {flexColumn}
        justify-content center
        margin 0 0 0 10px