    
@import '_variables'
@import '_blocks'
@import 'global' 
@import 'header'
@import 'main'
@import 'about'
@import 'contact'
@import 'services'
@import 'connect'
@import 'galery'
@import 'reviews'
@import 'impact'
@import 'footer'



