.btn
    padding 15px 35px
    font-size 12px
    font-weight 700
    color #FFFFFF
    background-color color-secondary
    border 1px solid color-secondary
    border-radius 10px
    text-transform uppercase
    transition background-color transition-300, color transition-300
    cursor pointer

    @media (hover: hover), screen and (min-width: 0\0) 
      &:hover,
      &:focus
        background-color #ffffff
        color color-secondary
        border 1px solid color-secondary