.connect
   {flexCenter}
   min-height 980px  
   background url('../img/content/connect-bg.jpg') center / cover no-repeat

   @media (max-width: 600px)
      min-height 800px
      justify-content flex-start

   &__content
      {flexCenter}
      align-items center
      padding-left 10px
      padding-right 10px

      @media (max-width: 600px)
         width 100%

   &__info
      max-width 324px
      text-align center

      @media (max-width: 1024px)
         display none

      p
         margin-bottom 45px
         font-size 30px
         line-height 36px
         font-weight: 700

         &:last-child
          margin-top 40px
          font-size 19px
          line-height 26px
         
      span
         font-size 96px
         font-weight: 700 