.content-about
    &__inner
        {spaceBetween}
        margin-top 60px

        @media (max-width: 1024px)
            flex-wrap wrap
            justify-content center

        @media (max-width: 717px)
            margin-top 20px
        
    &__item
        display flex
        margin-right 25px
        max-width 324px
        word-break break-all

        @media (max-width: 717px)
            margin-top 40px
        
        &:last-child
          margin margin-child
          
          @media (max-width: 1024px)
              margin-top 40px
 
    &__img
        margin-right 20px