section.about.container
    .about__box(data-aos='zoom-in')
        .title
          span &#x2662; Who we are 
          h2 Nemo enim ipsam voluptatem quia voluptas in proident  
        p.about__text
          | Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
          | ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate
          | velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
          | pariatur.
        .about__img
            +picture('content', 'about-img', 'jpg', 846, 420, "dog's nose and eyes")   
    .content-about
        .title.title--black(data-aos='zoom-in')
          span &#x2662; OUR PROMISE TO YOU
          h2 Sed perspiciatis omnis iste natus      
        ul.content-about__inner(data-aos='zoom-in')
          li.content-about__item
            .content-about__img
              +icon("dog-love", 63, 63)    
            .text
              h3 24/7 Love &amp; Care           
              p
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                | corrupti quos dolores et quas. 
          li.content-about__item
            .content-about__img
              +icon("dog-vet", 63, 63) 
            .text
              h3 On-site Veterinarian           
              p
                | Dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
                | eius modi tempora incidunt.
          li.content-about__item
            .content-about__img
              +icon("dog-stream", 63, 63)
            .text
              h3 Live-stream Cameras          
              p
                | Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                | molestiae consequatur illum.