section.connect
    .connect__content
        .form-connect(data-aos='zoom-in')
          form
            h4 Make an appointment        
            .form-connect__inner
              .form-connect__box
                .form-connect__item
                  input(type='text', placeholder='Name')        
                  input(type='text', placeholder='Phone Number')             
                .form-connect__item
                  input(type='text', placeholder='Email')                        
                  input(type='text', placeholder='Select Service')                     
              textarea(placeholder='Tell us about your puppers include his/her name')              
            +btn({btnType: "button", text: "Make an Appointment"})
        .connect__info
          p Maxime placeat facere possimus omnis                   
          span 5,700+                   
          p customers served