section.contact
    .contact__img(data-aos='fade-right')
        +picture('content', 'contact-img', 'png', 744, 456, "runnig beagle")         
    .contact__content
        h2 Nemo enim ipsam voluptatem quia voluptas in proident
        +btn({btnType: "button", text: "Make an Appointment"})
    .contact__box(data-aos='fade-right')
        +picture('content', 'tennis-ball', 'png', 136, 136, "tennis ball")