section.galery
    .galery__inner.container(data-aos='zoom-in')
        .title
          span &#x2662; GALLERY &amp; LIVE STREAMS                     
          h2 Check out our hard workers                
        .galery__tabs
          .galery__titles
              button(type="button").galery__item Gallery                 
              button(type="button").galery__item Live stream: Yard 1                           
              button(type="button").galery__item Live stream: Yard 2
              button(type="button").galery__item Live stream: Yard 3        
          .galery__body
            .galery__img
              +picture('content', 'galery-img1', 'jpg', 846, 480, "two retrievers in the water") 
            .galery__img
              +picture('content', 'galery-img2', 'jpg', 846, 480, "dog catches the ball")            
            .galery__img
              +picture('content', 'galery-img1', 'jpg', 846, 480, "two retrievers in the water")                
            .galery__img
              +picture('content', 'galery-img2', 'jpg', 846, 480, "dog catches the ball") 