section.impact
    .impact__content.container
        .impact__title(data-aos='zoom-in')
          .title
            span &#x2662; OUR IMPACT                           
            h2 Nemo enim ipsam voluptatem quia voluptas         
          +picture('content', 'impact-img', 'jpg', 498, 315, "dog lay and look in the camera")
        ul.impact__inner
          li.impact__item
            +icon("im-duck", 76, 76)                     
            .impact__box
              span 3,700                   
              p puppy baths        
          li.impact__item
            +icon("im-house", 76, 76)
            .impact__box
              span 4,500            
              p dogs boarded
          li.impact__item
            +icon("im-leash", 76, 76)      
            .impact__box
              span 2,900         
              p pups trained
          li.impact__item
            +icon("im-food", 76, 76)     
            .impact__box
              span 12k+                
              p meals served