section.reviews
    .reviews__content.container
        .title.title--black(data-aos='fade-right', data-aos-delay='100')
          span &#x2662; Our CUSTOMERS                  
          h2 Illum qui dolorem eum quo voluptas ut distinctio             
        .reviews__inner(data-aos='fade-right')
          .reviews__item
            p
              | &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore ex magna aliqua. Ut enim illum ad minim veniam, quis ea
              | exercitation ullamco cillum ut enim dolore.&rdquo;                     
            .reviews__box
              +picture('content', 'review-img', 'png', 48, 48, "Cullen Bohannon")                       
              span Cullen Bohannon                
          .reviews__item
            p
              | &ldquo;Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              | laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
              | ipsam voluptatem aspernatur.&rdquo;
            .reviews__box
              +picture('content', 'review-img-2', 'png', 48, 48, "Jennifer Thomas")                        
              span Jennifer Thomas
