section.services.container
    .title.title--black(data-aos='zoom-in')
        span &#x2662; Our Services             
        h2 Sed perspiciatis omnis iste natus               
    ul.services__content(data-aos='zoom-in')
        li.services__item
          +icon("serv-bed", 63, 63)
          .text
            h3 Pet Boarding (No Cages)        
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              | corrupti quos dolores et quas.
        li.services__item
          +icon("serv-daycare", 63, 63)
          .text
            h3 Pet Daycare       
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              | corrupti quos dolores et quas.
        li.services__item
          +icon("serv-groom", 63, 63)
          .text
            h3 Pet Day Spa &amp; Grooming     
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              | corrupti quos dolores et quas.   
        li.services__item
          +icon("serv-food", 63, 63)
          .text
            h3 Custom Meal Plans     
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              | corrupti quos dolores et quas.
        li.services__item
          +icon("serv-cup", 63, 63)
          .text
            h3 Pet Training                  
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              | corrupti quos dolores et quas.
        li.services__item
          +icon("serv-collar", 63, 63)
          .text
            h3 Shop Our Store!            
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              | corrupti quos dolores et quas.
    .services__btn
        +btn({btnType: "button", text: "Learn More"})